body {
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Vidaloka', serif; */
}

header {
    font-family: 'Vidaloka', serif;
    font-size: 1.125rem;
}

h2 {
    font-weight: 600;
}

.order-button {
    font-size: 1.125rem;
}

.jumbotron {
    background: url(../../images/haha.jpg) center/cover;
    height: 100vh;
}

.greeting {
    font-family: 'Vidaloka', serif;
}

.feature {
    background-image: linear-gradient(to right, #2193b0, #6dd5ed);
    padding: 5% 9%;
}

#footer {
    margin: 5% 0 0;
    padding: 5% 9%;
    background-image: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
